<h1>New Post!</h1>
<form action="/posts" method="post">
  <label>Title<input type="text" name="post[title]" value=""></label><br>
  <label>Body<textarea name="post[body]" rows="8" cols="40"></textarea></label><br>
  <input type="submit" name="submit" value="Post!">
</form>
